.header {
  background: $color-white;

  @include mobile() {
    padding: .5rem 0;
    z-index: 100;
    position: relative;
  }

  .content {
    display: flex;
    align-items: center;

    @include mobile() {
      justify-content: space-between;
      position: relative;
    }
  }

  .header__left {
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: none;
    margin-right: 1rem;
    border-bottom: none;

    .hamburger__icon {
      height: 20px;
      width: 20px;
    }

    &:hover {
      .hamburger__icon {
        color: $color-secondary;
      }
    }

    @include mobile() {
        display: block;
    }
  }

  .logotype {
    padding-right: 2rem;

    .logotype__image {
      height: 64px;

      @include tablet() {
        height: 56px;
      }

      @include mobile() {
        height: 40px;
      }
    }
  }

  .search {
    flex-grow: 1;
    height: 96px;
    display: flex;
    background: whitesmoke;
    padding: 0 2rem;
    @include skewRight();

    @include tablet() {
      height: 88px;
    }

    @include mobile() {
      position: absolute;
      height: auto;
      left: -1rem;
      right: -1rem;
      top: -.5rem;
      bottom: -.5rem;
      background: #e0e0e0;
      padding: 0 1rem;
      z-index: 100;
      display: none;
      visibility: hidden;
      @include skewReset();
      @include transition();

      &.search--active {
        display: flex;
        visibility: visible;
      }
    }

    .search__input {
      background: transparent;
      border: none;
      font-size: 18px;
      flex-grow: 1;
      padding: 0;
      font-family: $font-display;
      font-weight: 900;
      text-transform: uppercase;

      @include mobile() {
          font-size: 14px;
      }
    }

    .search__button {
      background: none;
      border: none;
      padding: 0;
      @include skewLeft();

      @include mobile() {
          @include skewReset();
      }

      .search__icon {
        height: 32px;
        width: 32px;
        color: $color-gray-light;
        @include transition();

        @include mobile() {
          width: 28px;
          height: 28px;
        }

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  .basket {
    line-height: 1;
    height: 96px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    border: none;
    background: $color-secondary;
    @include skewRight();
    @include transition();

    @include tablet() {
      height: 88px;
    }

    @include mobile() {
      display: none;
    }

    .basket__circle {
      background: $color-white;
      height: 44px;
      width: 44px;
      margin-right: 1rem;
      text-align: center;
      @include radius(50%);
      @include skewLeft();

      .basket__count {
        line-height: 44px;
        color: $color-dark;
        display: inline-block;
        font-size: 18px;
        font-family: $font-display;
        font-weight: 900;
        text-transform: uppercase;
      }
    }

    .basket__content {
      display: flex;
      flex-direction: column;
      @include skewLeft();

      .basket__label {
        color: $color-white;
        font-size: 18px;
        font-family: $font-display;
        font-weight: 900;
        text-transform: uppercase;
      }

      .basket__amount {
        font-weight: 500;
        color: rgba(255, 255, 255, .64);
        margin-top: 4px;
      }
    }

    &:hover {
      background: $color-dark;
    }
  }

  .icons {
    display: none;

    @include mobile() {
      display: block;
    }

    .icon {
      margin-left: 1rem;
      display: inline-block;
      border-bottom: none;

      .icon__icon {
        height: 20px;
        width: 20px;
      }

      &:hover {
        .icon__icon {
          color: $color-secondary;
        }
      }
    }
  }
}
