.menu {
  background: $color-dark;

  @include mobile() {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    width: 100%;
    @include transition();

    &.menu--active {
      display: block !important;
      visibility: visible !important;
    }
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    @include mobile() {
      display: block;
    }

    .list__item {
      flex: 1 1 auto;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      position: relative;

      @include mobile() {
        text-align: left;
        width: 100%;
      }

      &.list__item--dropdown:hover {
        .dropdown {
          display: block;
        }
      }

      .list__link {
        font-family: $font-display;
        font-weight: 900;
        color: $color-white;
        display: block;
        padding: 1rem 0;
        border: none;
        @include skewRight();
        @include transition();

        @include mobile() {
          font-size: 14px;
          font-style: italic;
          @include skewReset();
        }
      }

      &:hover {
        .list__link {
          background: lighten($color-dark, 10%);

          @include mobile() {
              background: transparent;
          }
        }
      }
    }
  }

  .dropdown {
    box-shadow: 0 16px 16px rgba(0, 0, 0, .08), 0 32px 32px rgba(0, 0, 0, .12);
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 150;
    min-width: 360px;
    @include transition();

    @include mobile() {
      min-width: 100%;
      box-shadow: none;
      position: static;
      display: block;
    }

    .dropdown__list {
      background: lighten($color-dark, 10%);
      list-style: none;
      text-align: left;
      padding: 0;
      margin: 0;

      @include mobile() {
        background: transparent;
      }

      .dropdown__item {
        &.dropdown__item--additional:hover {
          .additional {
            display: block;
          }
        }

        .dropdown__link {
          font-family: $font-display;
          font-weight: 900;
          color: $color-white;
          display: block;
          font-style: italic;
          padding: 1rem;
          border: none;

          @include mobile() {
            padding: .5rem;
            font-size: 14px;
            font-family: $font-default;
            font-weight: 500;
            color: rgba(255, 255, 255, .80)
          }
        }


        &:hover {
          .dropdown__link {
            background: lighten($color-dark, 20%);
          }
        }

        &.dropdown__item--additional {
          .dropdown__link {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .dropdown__icon {
              transform: rotate(-90deg);
              height: 16px;
              width: 16px;
            }
          }
        }
      }
    }
  }

  .additional {
    box-shadow: 0 16px 16px rgba(0, 0, 0, .08), 0 32px 32px rgba(0, 0, 0, .12);
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
    width: 560px;
    overflow: hidden;
    min-height: 240px;
    background: lighten($color-dark, 20%);

    .additional__image {
      position: absolute;
      right: -25%;
      z-index: 200;
      top: 0;
    }

    .additional__list {
      list-style: none;
      position: relative;
      z-index: 250;
      padding: 0;
      margin: 0;

      .additional__item {
        width: 280px;

        .additional__link {
          text-transform: none;
          border-bottom: none;
          display: block;
          padding: .750em 1.5rem .750em .750em;
          font-size: 15px;
          color: $color-white;
          clip-path: polygon(0 0, 100% 0, calc(100% - 7px) 100%, 0 100%);

          &:hover {
            background: lighten($color-dark, 30%);
          }
        }
      }
    }
  }
}
