.top-bar {
  background: darken($color-primary, 5%);
  padding: 1rem 0;

  .top-bar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile() {
      display: block;
    }
  }

  .location {
    font-size: 14px;
    display: flex;
    align-items: center;

    @include mobile() {
      justify-content: space-between;
    }

    .city {
      .city__name {
        font-weight: 500;
        color: $color-white;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
      }

      .city__icon {
        height: 16px;
        width: 16px;
        margin-left: 4px;
        opacity: .8;
      }

      .city-dropdown {
        display: none;
        visibility: hidden;
        position: absolute;
        background: $color-white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, .08), 0 16px 32px rgba(0, 0, 0, .16);
        margin: 0;
        list-style: none;
        padding: 0;
        z-index: 100;
        overflow: hidden;
        @include transition();
        @include radius();

        .city-dropdown__link {
          display: block;
          padding: .5rem .750rem;
          font-size: 12px;
        }

      }

      &:hover {
        .city-dropdown {
          visibility: visible;
          display: block;
        }
      }
    }


    .phone {
      margin-left: 2rem;

      a {
        color: $color-white;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .menu {
    @include mobile() {
      display: none;
    }
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;

    .menu__item {
      display: inline-block;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .menu__link {
        color: $color-white;
        opacity: .50;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.header {
  background: $color-primary;
  padding: 1rem 0;

  .header__mobile {
    display: none;

    @include mobile() {
      display: block;
    }

    .search {
      margin: 1rem 0 0 0;
      display: flex;

      .search__input {
        padding: .750rem .5rem;
      }
    }
  }

  .header__main {
    display: flex;
    align-items: center;
  }

  .header__content {
    display: flex;
    align-items: center;

    @include mobile() {
      justify-content: space-between;
    }
  }

  .logotype {
    order: 1;

    @include mobile() {
      order: 3;
    }

    .logotype__link {
      font-size: 32px;
      color: $color-white;
      border-bottom: none;
      line-height: 1;
      font-weight: 600;

      @include mobile() {
        font-size: 24px;
      }
    }
  }

  .nav {
    order: 2;

    @include mobile() {
      order: 1;
    }

    .hamburger {
      margin-left: 1.5rem;
      padding: 12px;
      border: 1px solid rgba(255, 255, 255, .32);
      cursor: pointer;
      @include nonSelect();
      @include radius();
      @include transition();

      @include mobile() {
        margin-right: .5rem;
        margin-left: 0;
        padding: 0;
        border: none;
      }

      .hamburger__icon {
        color: rgba(255, 255, 255, .80);
        margin-bottom: -2px;
        height: 32px;
        width: 32px;
        @include transition();

        @include mobile() {
          margin-bottom: -4px;
        }

        &.hamburger__icon--opened {
          display: none;
        }
      }

      &:hover {
        border-color: rgba(255, 255, 255, .64);

        .hamburger__icon {
          color: $color-white;
        }
      }
    }

    .dropdown {
      display: none;
      visibility: hidden;
      position: absolute;
      background: $color-white;
      box-shadow: 0 8px 16px rgba(0, 0, 0, .08), 0 16px 32px rgba(0, 0, 0, .16);
      margin-left: 26px;
      margin-top: .5rem;
      z-index: 100;
      overflow: hidden;
      @include transition();
      @include radius();

      @include mobile() {
        left: 8px;
        right: 8px;
        margin-left: 0;
      }

      &.dropdown--active {
        display: grid;
        grid-template-columns: auto auto;
        visibility: visible;
      }

      .menu {
        list-style: none;
        margin: 0;
        padding: 0;

        &.menu--child {
          border-left: 1px solid #f0f0f0;
          display: none;
        }

        &.menu--active {
          display: block !important;
        }

        @include mobile() {
          padding: 1rem;
        }

        .menu__item {
          .menu__link {
            font-weight: 500;
            display: block;
            border-bottom: none;
            color: $color-gray-dark;
            padding: 1rem;

            @include mobile() {
              padding: .750rem;
              font-size: 14px;
            }


            &:hover {
              background: #fafafa;
              color: $color-secondary;
            }
          }
        }
      }
    }
  }

  .search {
    margin: 0 1.5rem;
    background: rgba(255, 255, 255, .32);
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    flex-grow: 1;
    position: relative;
    z-index: 50;
    @include radius();
    @include transition();

    @include mobile() {
      display: none;
    }

    .search__input {
      border: none;
      background: transparent;
      padding: 1rem .5rem;
      font-size: 18px;
      flex-grow: 1;
      color: rgba(255, 255, 255, .80);
      @include transition();

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .80);
      }

      &::-moz-placeholder {
        color: rgba(255, 255, 255, .80);
      }

      &:-moz-placeholder {
        color: rgba(255, 255, 255, .80);
      }

      &:-ms-input-placeholder {
        color: rgba(255, 255, 255, .80);
      }
    }

    .search__button {
      color: rgba(255, 255, 255, .80);
      background: transparent;
      border: none;
      outline: none;
      margin-bottom: -4px;
      @include transition();
    }

    &:hover {
      background: rgba(255, 255, 255, .40);
    }

    &:focus-within {
      background: $color-white;
      box-shadow: 0 8px 16px rgba(0, 0, 0, .24);

      .search__button {
        color: rgba(0, 0, 0, .40);
      }

      .search__input {
        color: $color-dark;

        &::-webkit-input-placeholder {
          color: rgba(0, 0, 0, .64);
        }

        &::-moz-placeholder {
          color: rgba(0, 0, 0, .64);
        }

        &:-moz-placeholder {
          color: rgba(0, 0, 0, .64);
        }

        &:-ms-input-placeholder {
          color: rgba(0, 0, 0, .64);
        }
      }
    }
  }

  .actions {
    display: flex;

    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 1.5rem;
      color: $color-white;
      border-bottom: none;
      opacity: .64;
      @include transition();
      @include nonSelect();

      &:hover {
        opacity: 1;
      }

      &:last-child {
        margin-right: 0;
      }

      .button__icon {

      }

      .button__label {
        margin-top: 4px;
        font-size: 12px;
        font-weight: 500;

        @include mobile() {
          display: none;
        }
      }
    }
  }
}
