// Fonts
@import '00-font/font-bender';
@import '00-font/font-inter';
// Configure
@import '01-config/config-normalize';
@import '01-config/config-vars';
@import '01-config/config-mixins';
@import '01-config/config-fonts';
// Error

.error-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;
  }

  .error {
    position: relative;

    .error__code {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: .06;
      font-style: italic;
      font-family: $font-display;
      font-weight: 900;
      font-size: 320px;
      position: absolute;

      @include mobile() {
          font-size: 200px;
      }
    }

    .error__message {
      font-style: italic;
      font-family: $font-display;
      font-weight: 900;
      font-size: 60px;
      text-transform: uppercase;

      @include mobile() {
          font-size: 40px;
      }
    }
  }

  .button {
    margin-top: 12rem;
    display: inline-block;
    text-decoration: none;
    color: $color-primary;
    background: rgba(30, 75, 111, 0.12);
    padding: 1rem 1.5rem;
    font-weight: 600;
    @include radius(2px);
    @include transition();

    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }
}
