.category-list {
  .category-list__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .category {
    border-bottom: none;
    overflow: hidden;
    @include radius();

    .category__image {
      width: 100%;
    }

    &:hover {
      @include boxShadow();
    }
  }
}
