.category-list {
  .category-list__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    @include mobile() {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: .5rem;
      grid-row-gap: .5rem;
    }
  }

  .category {
    border-bottom: none;
    overflow: hidden;
    @include radius();

    .category__image {
      width: 100%;
      @include transition();
    }

    &:hover {
      @include boxShadow();

      .category__image {
        -webkit-filter: brightness(70%);
      }
    }
  }
}
