a {
  text-decoration: none !important;
  border-bottom: 1px solid rgba(101, 0, 145, .50);
  color: $color-purple;
  outline: 0;
  @include transition();

  &:hover,
  &:focus {
    border-bottom-color: transparent;;
    color: $color-pink;
  }
}

u {
  text-decoration: none;
}

.link-w-icon {
  font-family: $font-default;
  font-weight: 500;
  font-size: 14px;
  border-bottom: none;

  i {
    font-size: 12px;
    margin-right: 6px;
    margin-left: 6px;
    opacity: .80;
    @include transition();
  }

  &:hover {
    i {
      margin-left: 12px;
      margin-right: 0;
    }
  }
}
