
@font-face {
  font-family: 'Bender';
  font-style: italic;
  font-weight: 700;
  src: local('Bender Bold Italic'), url('/fonts/Bender/Bender-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Bender';
  font-style: italic;
  font-weight: 900;
  src: local('Bender Black Italic'), url('/fonts/Bender/Bender-BlackItalic.woff') format('woff');
}
